
* {
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

body {
  background: url("../images/ivy.jpg");
  background-size: cover;
}

h1 {
  width: 40%;
  padding: 20px;
  background-color: rgba(200,200,200,.75);
  border-radius: 10px 5px;
  margin: 10px auto 10px auto;
  font-size: 50px;
  text-align: center;
}

h2 {
  width: 35%;
  padding: 20px;
  background-color: rgba(200,200,200,.75);
  border-radius: 10px 5px;
  margin: 10px auto 10px auto;
  text-align: center;
}

h3 {
  text-decoration:underline;
}

#bodblock {
  width: 40%;
  padding: 20px;
  background-color: rgba(200,200,200,.75);
  border-radius: 10px 5px;
  margin: 10px;
  float: left;
  font-weight: bold;
}

#par_note {
  font-style: italic;
  font-weight: lighter;
}

aside {
  width: 40%;
  padding: 20px;
  background-color: rgba(200,200,200,.75);
  border-radius: 10px 5px;
  margin: 10px;
  float: right;
}

li {
  padding: 5px;
}
